In [2]:
# learning how to use various python syntaxes on day 2 of bootcamp

# print a message saying hello to all the fellow coders
print ("Hello fellow coders. I am glad to be in this camp with you")

Hello fellow coders. I am glad to be in this camp with you

In [7]:
# assigning values to variables

data1 = 20
data2 = 80

# to print a result changing the values of data1 and data2 

print (f"The first number is {data1} and the second number is {data2}")

The first number is 20 and the second number is 80

In [10]:
print (f"The sum of two numbers provided is {data1+data2}")

The sum of two numbers provided is 100

In [14]:
#using old data style of .format

print ("The first amount to be paid is {} dollars and the second payment is {} dollars and so the customer owes in total {} dollars. ". format(data1, data2, data1+data2))

The first amount to be paid is 20 dollars and the second payment is 80 dollars and so the customer owes in total 100 dollars.

In [3]:
#learning to use python as a calculator

100+50 #sum

150

In [5]:
100-50 #difference

50

In [6]:
100*50 #multiply

5000

In [8]:
101/50 #classic division will give a float ie in decimals

2.02

In [9]:
101//50 #floor division will jut give the quotient

2

In [11]:
101%50 #this % operator will give the remainder

1

In [12]:
100**2 #square of 100

10000

In [13]:
50**9 #ninth power of 50

1953125000000000

In [41]:
#the width of the room is 15 ft and the height is 10 ft and the length is 20 ft. now calculating the total volume of the room 
width = 23
height = 50.5
length = 20
print ("The volume is as follows:") 
width*height*length

The volume is as follows:

23230.0

In [42]:
#using f string for the same use as above
print (f"Width is {width}ft, length is {length}ft and the height is {height}ft and the volume is {width*height*length} cubic feet.")

Width is 23ft, length is 20ft and the height is 50.5ft and the volume is 23230.0 cubic feet.

In [43]:
print("The width is {} ft and the length is {} ft and the area is {} sqft".format(width, length, width*length)) #using .format

The width is 23 ft and the length is 20 ft and the area is 460 sqft

In [44]:
#using %
print("Width is %d and the length is %d and the area is %d" % (width, length, width*length))

Width is 23 and the length is 20 and the area is 460