In [4]:
#integers are whole numbers
#with decimals are floats
#strings double quotes for single line string and multi line string is by triple quotes like """
#booleans are true or false and are represented as bool
#floating numbers can be with decimal numbers, negative and also scientific like 2.4e5 which is basically 24000. 
#relationship between bits and bytes. anything more than 10 TB is big data. 8 bits is one byte, 1024 bytes are 1 kb, 1024 kb are 1 mb, 1024 mb is 1gb, 1024 gb is 1tb.
#python uses 64 bits that is 8 bytes(8 times 8)

In [8]:
ratio = (0.75) .as_integer_ratio() #converting float to integer ratio coz 0.75 is three fourth
ratio

(3, 4)

In [114]:
#python doesnt require type declaration for variables. it just changes as per what variable you assign to it. 
cap1=20
print (type(cap1))

<class 'int'>

In [10]:
cap2=44.23

In [11]:
type(cap2)

float

In [12]:
#python defines the type of variable based on the value you assign to the variable. other languages you have to declare variable beforehand

In [14]:
cap3=1.20e4
type(cap3)

float

In [1]:
cap4="datascience"
type(cap4)

str

In [111]:
#looking for input from user for a specific type only

Age=int(input("Enter the age of the patient:"))

Enter the age of the patient: 70

In [112]:
age = input("enter the age:")

enter the age: 70.5

In [7]:
#it is accepted above

#now what happens if the user enters the integer

Age=int(input("Enter the age of the patient:"))

Enter the age of the patient: 55

In [10]:
#it works. lets do same but for float
percent= float(input("enter the percentage obtained in first semester:"))

enter the percentage obtained in first semester: 72.49

In [11]:
#all these words that are defined in python like input, print etc are called keywords - 
#avoid using them as keywords. eg do not use sum as variable. python keywords is in documentation.

In [18]:
#learning to set precision of float numbers
tax=26.98*55.33
tax

1492.8034

In [20]:
taxformatted="{:.2f}".format(tax) #formatting to 2 decimal points
taxformatted

'1492.80'

In [41]:
#typecasting lesson
#by default all inputs you take in python is a string example as below

num1= input("enter the amount")

enter the amount 88

In [36]:
type(num1)

str

In [37]:
#that's why num1 is shown as string above. also notice how if i do num1, it will be in between quotes
num1

'88'

In [38]:
#only strings come in quote like above
#converting string into integer
num1 = int(num1)
num1

88

In [40]:
num2= input("enter the amount")

enter the amount 88.98

In [42]:
type(num2)

str

In [45]:
#converting string to float due to decimal point and then to integer
num2=int(float(num2))
num2

88

In [49]:
#convert float to int
tax=22.97658
tax_int=int(tax)
print ("conerted to int:",tax_int)

#convert int to float
volume=55
volume_float=float(volume)
print ("converted to float:" ,volume_float)

#convert int to str
marks=99
marks_str=str(marks)
print("converted to str:" ,marks_str)

conerted to int: 22
converted to float: 55.0
converted to str: 99

In [75]:
#format floating point numbers to control the number of decimal places
doc1=55.057692
doc1_formatted="{:.3f}".format(doc1)
print(doc1_formatted)

#another method
doc2=87.23413251
doc2_formatted=round(doc2,2)
print(doc2_formatted)

#another method
doc3=23.8892303
doc3_formatted= f"{doc3:.4f}"
print(doc3_formatted)

55.058
87.23
23.8892

In [84]:
#checking if float has integer value

age1=input("enter the age:")
age1 = float(age1)
print (age1 .is_integer())

enter the age: 66

True

In [97]:
#Boolean
case1=True
print("case1 is of type:", type(case1))

case1 is of type: <class 'bool'>

In [102]:
#operators - bit length

num1=55
num2=45

print ((num1+num2).bit_length())

7

In [103]:
(100).bit_length()

7

In [110]:
#logical operations

prep1=34
prep2=-2

print ("Is prep1>0 and prep2>0?", prep1>0 and prep2>0)
print ("Is prep1>0 or prep2>0?", prep1>0 or prep2>0)
print ("Is prep2>0?", not(prep2>0)) #not gives reverse result

Is prep1>0 and prep2>0? False
Is prep1>0 or prep2>0? True
Is prep2>0? True

In [141]:
#list is written in square brackets and value is separated by commas. 
#printing all numbers in a list

numbers = [10,20,30,40,50] #these are list items which are ordered and are mutable - we can change it
for num in numbers:
    print (num)

10
20
30
40
50

In [151]:
 #for loop with range
for num1 in range (15):
    print(num1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [146]:
for num2 in range (1,22,4): #range(start, stop, skip)
    print (num2) #prints 1, skips 4 indexes, goes to 5, skips 4 and so on

1
5
9
13
17
21

In [148]:
#while loop - executes as long as the condition is true

marks = 100 
while marks> 10:
    print (marks)
    marks -= 20 #just means marks = marks-20

100
80
60
40
20

In [165]:
#breaking a loop
for num in range(10): 
    if num == 7:
        break
    print(num)

print("gap here")

#continuing a loop
for num1 in range(10):
    if num1%2!=0: #skipping odd numbers
        continue #says dont break the loop but move to the next value
    print(num1)

0
1
2
3
4
5
6
gap here
0
2
4
6
8